body {
	background-image: url(../images/stars.png);
	height: 800px;
}
h1{
	color: yellow;
	margin: auto;
	display: block;
	width: 125px;
	font-size: 40px;
	font-family: Arial, sans-serif;
	position: relative;
	top: -10px;
}
h2{
	color: yellow;
}
.logo {
	margin: auto;
	display: block;
}
#title {
	margin: 20px;
}
#time {
	width: 150px;
	height: 30px;
	margin: auto;
	display: block;
}
#timer {
	color: yellow;
}
span {
	color: yellow;
}
.background {
	width: 600px;
	height: 480px;
	margin: auto;
	display: block;
	background-color: white;
	border: 10px solid lightblue;
	border-radius: 20px;
	z-index: -1;
}
button {
	background-color: lightblue;
	font-family: Arial, sans-serif;
	color: white;
	font-size: 1em;
	width: 100px;
	height: 50px;
	display: block;
	margin: auto;
	border-radius: 20px;
}
#qDisplay {
	position: relative;
	top: 50px;
	font-size: 30px;
	width: 500px;
	margin: auto;
}
#aDisplay {
	position: relative;
	top: 70px;
	width: 500px;
	margin: auto;
	display: block;
}
#answerOne {
	margin: auto;
	display: block;
	width: 100px;
	padding: 10px;
}
#answerTwo {
	margin: auto;
	display: block;
	width: 100px;
	padding: 10px;
}
#answerThree {
	margin: auto;
	display: block;
	width: 100px;
	padding: 10px;
}
#answerFour {
	margin: auto;
	display: block;
	width: 100px;
	padding: 10px;
}
#answerOne:hover {
	border: 10px solid lightblue;
	border-radius: 20px;
}
#answerTwo:hover {
	border: 10px solid lightblue;
	border-radius: 20px;
}
#answerThree:hover {
	border: 10px solid lightblue;
	border-radius: 20px;
}
#answerFour:hover {
	border: 10px solid lightblue;
	border-radius: 20px;
}
#graphic {
	width: 480px;
	margin: auto;
	display: block;
	position: relative;
	top: 100px;
}